In [1]:
# Import Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load the Raw Dataset
df = pd.read_csv('flipkard.csv')

df.head()

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
0,FKP0000001,Adidas Ultra 664,Toys,Adidas,MegaStore,Hyderabad,35547.34,15,30215.24,1.9,...,3038.23,36,Green,XL,30,True,"COD,CARD",3483.592454,6.78,3.28
1,FKP0000002,LG Series 124,Fashion,LG,ValueKart,Mumbai,30693.79,10,27624.41,3.2,...,1921.82,0,Grey,One Size,7,True,"UPI,CARD",2091.473835,50.78,3.42
2,FKP0000003,Redmi Model 35,Beauty,Redmi,SmartDeals,Ahmedabad,51214.50,40,30728.70,4.4,...,1143.49,12,Black,M,0,False,"COD,UPI,CARD",1242.770494,4.24,4.23
3,FKP0000004,Sony Edition 769,Toys,Sony,UrbanRetails,Delhi,33168.49,30,23217.94,2.8,...,3644.81,24,Black,L,0,False,"CARD,Wallet",3891.222716,1.38,3.45
4,FKP0000005,Boat Prime 291,Home & Kitchen,Boat,RetailHub,Pune,14181.34,0,14181.34,3.7,...,310.33,0,Blue,NaN,30,True,"CARD,Wallet",386.061014,79.27,4.90

In [4]:
# Basic Dataset Overview
print("Shape of dataset:", df.shape)
df.info()

Shape of dataset: (80000, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_id          80000 non-null  object
 1   product_name        80000 non-null  object
 2   category            80000 non-null  object
 3   brand               80000 non-null  object
 4   seller              80000 non-null  object
 5   seller_city         80000 non-null  object
 6   price               80000 non-null  float64
 7   discount_percent    80000 non-null  int64
 8   final_price         80000 non-null  float64
 9   rating              80000 non-null  float64
 10  review_count        80000 non-null  int64
 11  stock_available     80000 non-null  int64
 12  units_sold          80000 non-null  int64
 13  listing_date        80000 non-null  object
 14  delivery_days       80000 non-null  int64
 15  weight_g            80000 non-null  float64
 16  warranty_months     80000 non-null  int64
 17  color               80000 non-null  object
 18  size                66516 non-null  object
 19  return_policy_days  80000 non-null  int64
 20  is_returnable       80000 non-null  bool
 21  payment_modes       80000 non-null  object
 22  shipping_weight_g   80000 non-null  float64
 23  product_score       80000 non-null  float64
 24  seller_rating       80000 non-null  float64
dtypes: bool(1), float64(7), int64(7), object(10)
memory usage: 14.7+ MB

In [5]:
df.describe(include='all')

,product_id,product_name,category,brand,seller,seller_city,price,discount_percent,final_price,rating,...,weight_g,warranty_months,color,size,return_policy_days,is_returnable,payment_modes,shipping_weight_g,product_score,seller_rating
count,80000,80000,80000,80000,80000,80000,80000.000000,80000.000000,80000.000000,80000.000000,...,80000.000000,80000.00000,80000,66516,80000.000000,80000,80000,80000.000000,80000.000000,80000.000000
unique,80000,48801,8,15,8,8,NaN,NaN,NaN,NaN,...,NaN,NaN,8,5,NaN,2,4,NaN,NaN,NaN
top,FKP0000001,HP Series 622,Toys,Puma,ValueKart,Pune,NaN,NaN,NaN,NaN,...,NaN,NaN,Silver,L,NaN,True,"CARD,Wallet",NaN,NaN,NaN
freq,1,7,10151,5409,10109,10138,NaN,NaN,NaN,NaN,...,NaN,NaN,10101,13450,NaN,64034,20114,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,30137.256454,21.350625,23697.780600,2.999671,...,2522.224622,15.56400,NaN,NaN,12.362250,NaN,NaN,2899.960047,50.673750,4.002218
std,NaN,NaN,NaN,NaN,NaN,NaN,17274.048682,16.354446,14726.821259,1.156238,...,1428.287966,12.91307,NaN,NaN,10.019794,NaN,NaN,1650.921766,28.562732,0.577595
min,NaN,NaN,NaN,NaN,NaN,NaN,200.140000,0.000000,101.080000,1.000000,...,50.020000,0.00000,NaN,NaN,0.000000,NaN,NaN,53.155250,1.000000,3.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,15180.205000,10.000000,11341.722500,2.000000,...,1283.117500,6.00000,NaN,NaN,7.000000,NaN,NaN,1469.583781,25.950000,3.500000
50%,NaN,NaN,NaN,NaN,NaN,NaN,30164.455000,20.000000,22571.265000,3.000000,...,2524.550000,12.00000,NaN,NaN,10.000000,NaN,NaN,2892.632502,50.670000,4.010000
75%,NaN,NaN,NaN,NaN,NaN,NaN,45077.087500,40.000000,34521.057500,4.000000,...,3753.195000,24.00000,NaN,NaN,15.000000,NaN,NaN,4304.695597,75.430000,4.500000
max,NaN,NaN,NaN,NaN,NaN,NaN,59995.800000,50.000000,59995.800000,5.000000,...,4999.920000,36.00000,NaN,NaN,30.000000,NaN,NaN,6234.757448,100.000000,5.000000

In [8]:
# Convert to datetime
df['listing_date'] = pd.to_datetime(df['listing_date'], errors='coerce')

In [9]:
# Checking “No Missing / No Duplicate” 
df.isnull().sum()

product_id                0
product_name              0
category                  0
brand                     0
seller                    0
seller_city               0
price                     0
discount_percent          0
final_price               0
rating                    0
review_count              0
stock_available           0
units_sold                0
listing_date              0
delivery_days             0
weight_g                  0
warranty_months           0
color                     0
size                  13484
return_policy_days        0
is_returnable             0
payment_modes             0
shipping_weight_g         0
product_score             0
seller_rating             0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
# Understand the size column 
df['size'].unique()[:10]

array(['XL', 'One Size', 'M', 'L', nan, 'S'], dtype=object)

In [12]:
# Fill with "Not Applicable"
df['size'] = df['size'].fillna('Not Applicable')

In [14]:
# Standardize Text Columns
text_cols = ['brand', 'category', 'seller', 'seller_city']

for col in text_cols:
    df[col] = (
        df[col]
        .astype(str)
        .str.strip()
        .str.lower()
    )

In [15]:
# Business Validation & Corrections
numeric_cols = [
    'price',
    'final_price',
    'discount_percent',
    'rating',
    'seller_rating',
    'return_policy_days'
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [16]:
# Discount Amount
df['discount_amount'] = df['price'] - df['final_price']

In [17]:
# Price Band
df['price_band'] = pd.cut(
    df['final_price'],
    bins=[0, 500, 2000, 10000, df['final_price'].max()],
    labels=['Low', 'Medium', 'High', 'Premium']
)

In [18]:
# Rating Band
df['rating_band'] = pd.cut(
    df['rating'],
    bins=[0, 2, 3.5, 5],
    labels=['Poor', 'Average', 'Good']
)

In [19]:
# Return Risk Flag
df['return_risk_flag'] = np.where(
    (df['is_returnable'] == 1) & (df['rating'] < 3),
    'High Risk',
    'Low Risk'
)

In [20]:
# Time-Based Features
df['listing_year'] = df['listing_date'].dt.year
df['listing_month'] = df['listing_date'].dt.month
df['listing_month_name'] = df['listing_date'].dt.month_name()

In [21]:
# Final Data Quality Check
df.describe()

,price,discount_percent,final_price,rating,review_count,stock_available,units_sold,listing_date,delivery_days,weight_g,warranty_months,return_policy_days,shipping_weight_g,product_score,seller_rating,discount_amount,listing_year,listing_month
count,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000,80000.000000,80000.000000,80000.00000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000,80000.000000
mean,30137.256454,21.350625,23697.780600,2.999671,25102.249875,499.194262,2507.515775,2020-09-28 12:16:35.760000,6.006325,2522.224622,15.56400,12.362250,2899.960047,50.673750,4.002218,6439.475854,2020.264625,6.275288
min,200.140000,0.000000,101.080000,1.000000,0.000000,0.000000,0.000000,2018-01-01 00:00:00,1.000000,50.020000,0.00000,0.000000,53.155250,1.000000,3.000000,0.000000,2018.000000,1.000000
25%,15180.205000,10.000000,11341.722500,2.000000,12605.000000,249.000000,1261.000000,2019-05-16 00:00:00,3.000000,1283.117500,6.00000,7.000000,1469.583781,25.950000,3.500000,1260.047500,2019.000000,3.000000
50%,30164.455000,20.000000,22571.265000,3.000000,25166.500000,499.000000,2513.000000,2020-10-01 00:00:00,6.000000,2524.550000,12.00000,10.000000,2892.632502,50.670000,4.010000,4140.640000,2020.000000,6.000000
75%,45077.087500,40.000000,34521.057500,4.000000,37666.000000,749.000000,3754.000000,2022-02-09 00:00:00,9.000000,3753.195000,24.00000,15.000000,4304.695597,75.430000,4.500000,9480.630000,2022.000000,9.000000
max,59995.800000,50.000000,59995.800000,5.000000,49999.000000,999.000000,4999.000000,2023-06-24 00:00:00,11.000000,4999.920000,36.00000,30.000000,6234.757448,100.000000,5.000000,29997.830000,2023.000000,12.000000
std,17274.048682,16.354446,14726.821259,1.156238,14428.769942,288.917706,1439.519972,NaN,3.160630,1428.287966,12.91307,10.019794,1650.921766,28.562732,0.577595,6769.817859,1.596005,3.441039

In [22]:
df.isnull().sum()

product_id            0
product_name          0
category              0
brand                 0
seller                0
seller_city           0
price                 0
discount_percent      0
final_price           0
rating                0
review_count          0
stock_available       0
units_sold            0
listing_date          0
delivery_days         0
weight_g              0
warranty_months       0
color                 0
size                  0
return_policy_days    0
is_returnable         0
payment_modes         0
shipping_weight_g     0
product_score         0
seller_rating         0
discount_amount       0
price_band            0
rating_band           0
return_risk_flag      0
listing_year          0
listing_month         0
listing_month_name    0
dtype: int64

In [23]:
# Export Cleaned Dataset
df.to_csv('cleaned_flipkart_sales.csv', index=False)